body{
    background-size: cover;
    background-position: center;
    color: tomato;
}

#score{
    font-size: 35px;
    margin-left: 20px;
}

#time{
    font-size: 35px;
    float: right;
    margin-right: 20px;
}

#showSketch{
    float: right;
}

#sketchName{
    color: darkgoldenrod;
}